<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}

<h1>
    Fruits
</h1>

<div class="row">
    {% for product in products %}

        <div class="col">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{{product.image_url}}" alt="Card image cap" style=" height: 12rem; width:15rem">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">PKR {{product.price}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}

</body>
</html>